<div class="menu">
	<div class="icon" (click)="toggleMenu()">menu</div>
</div>
<div class="items">
	<div class="item" (click)="navigateTo('/')">
		<div class="icon">home</div>
		<div class="title">Home</div>
	</div>
	<div class="item" (click)="navigateTo('/about')">
		<div class="icon">info</div>
		<div class="title">About Us</div>
	</div>
	<div class="item" (click)="navigateTo('/support')">
		<div class="icon">contact_support</div>
		<div class="title">Contact Us</div>
	</div>
	<div class="item" (click)="navigateTo('/settings')">
		<div class="icon">settings</div>
		<div class="title">Settings</div>
	</div>
</div>
